@model IEnumerable<Patient>
@{
    ViewData["Title"] = "Patients";
}
<h1>Patients</h1>

<p>
    <form class="d-flex" class="col-3">
        <input type="text" placeholder="Search..." class="form-control me-sm-2" name="searchString" />
        <input type="submit" value="Search" class="btn btn-outline-primary form-control" style="width:200px" />
        <a asp-route-Doctors="" asp-route-SearchString="" class="btn btn-outline-secondary"> Clear</a>
    </form>
</p>

<a asp-controller="Patient" asp-action="Create" class="btn btn-primary">
    Add Patient
</a>
<br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>PPS</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Phone</th>
            <th>Address</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="5%">@obj.PPS</td>
                <td width="15%">@obj.FirstName</td>
                <td width="15%">@obj.LastName</td>
                <td width="15%">@obj.DOB.ToShortDateString()</td>
                <td width="10%">@obj.Gender</td>
                <td width="15%">@obj.Phone</td>
                <td width="25%">@obj.Address</td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controler="Patient" asp-action="Edit" asp-route-id="@obj.PPS">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controler="Patient" asp-action="Delete" asp-route-id="@obj.PPS" class="btn btn-primary mx-2">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
