@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "Index Appointments";
}
<h1>Appointments</h1>

<a asp-controller="Appointment" asp-action="Create" class="btn btn-primary">
Create appointment</a>
<table>
    <thead>
        <tr>
            <th>Appt. ID</th>
            <th>Patient Name</th>
            <th>Doctor Name</th>
            <th>Appointment Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width ="10%">@obj.Id</td>
                <td width ="25%">@($"{obj.Patient.FirstName} {obj.Patient.LastName}")</td>
                <td width ="25%">@($"{obj.Doctor.FirstName} {obj.Doctor.LastName}")</td>
                <td width ="25%">@obj.AppDate.ToString("HH:mm")
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controler="Appointment" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                    </div>
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controler="Appointment" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
